{
    "rules": {
      "indent": [
          2,
          "tab"
      ],
      "quotes": [
          2,
          "double"
      ],
      "semi": [
          2,
          "always"
      ],
      "no-console": "off"
    },
    "env": {
        "es6": false,
        "node": false,
        "mocha": true
    },
    "extends": "eslint:recommended"
}
