html, body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.my-layout .my-header .mdl-textfield {
  padding: 0px;
  margin-top: 41px;
}
.my-layout .my-header .mdl-textfield .mdl-textfield__expandable-holder {
  bottom: 19px;
}
.my-layout .mdl-layout__header .mdl-layout__drawer-button {
  color: rgba(0, 0, 0, 0.54);
}
.my-drawer {
  border: none;
}
/* iOS Safari specific workaround */
.my-drawer .mdl-menu__container {
  z-index: -1;
}
.my-drawer .my-navigation {
  z-index: -2;
}
/* END iOS Safari specific workaround */
.my-drawer .mdl-menu .mdl-menu__item {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.my-drawer-header {
  box-sizing: border-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 16px;
  height: 151px;
}

.my-navigation {
  -webkit-flex-grow: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
.my-layout .my-navigation .mdl-navigation__link {
  display: -webkit-flex !important;
  display: -ms-flexbox !important;
  display: flex !important;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: rgba(255, 255, 255, 0.56);
  font-weight: 500;
}
.my-layout .my-navigation .mdl-navigation__link:hover {
  background-color: #00BCD4;
  color: #37474F;
}
.my-navigation .mdl-navigation__link .material-icons {
  font-size: 24px;
  color: rgba(255, 255, 255, 0.56);
  margin-right: 32px;
}

.my-content {
  max-width: 1080px;
}

.my-cards {
  -webkit-align-items: flex-start;
      -ms-flex-align: start;
              -ms-grid-row-align: flex-start;
          align-items: flex-start;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
.my-cards .my-separator {
  height: 32px;
}
.my-cards .mdl-card__title.mdl-card__title {
  color: white;
  font-size: 24px;
  font-weight: 400;
}
.my-cards ul {
  padding: 0;
}
.my-cards h3 {
  font-size: 1em;
}
.my-sites .mdl-card__title {
}
.my-cards .mdl-card__actions a {
  color: #00BCD4;
  text-decoration: none;
}
